In [1]:
import pandas as pd
import numpy as np

In [17]:
df = pd.read_csv("data_pancake.csv")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1808 entries, 0 to 1807
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Unnamed: 0   1808 non-null   int64
 1   name         1808 non-null   object
 2   gender       1364 non-null   object
 3   address      1093 non-null   object
 4   mobile       1808 non-null   object
 5   source_lead  1808 non-null   object
 6   note         1808 non-null   object
 7   page_id      1808 non-null   int64
dtypes: int64(2), object(6)
memory usage: 113.1+ KB

In [7]:
df.fillna("", inplace=True)

In [10]:
df.drop(columns=df.columns[0], inplace=True)

In [16]:
def change_page_name(page):
    if page == 106048591142776:
        page = "Đào tạo lập trình MCI Việt Nam Tại TP. HCM"
    elif page == 106048591142776:
        page = "Học viên công nghệ MCI"
    return page

change_page_name()

                 name  gender  address  mobile  source_lead  note
page_id
100775119097939   174     174      174     174          174   174
101260665268485   277     277      277     277          277   277
101464274796063   756     756      756     756          756   756
102791862223216   590     590      590     590          590   590
106048591142776    11      11       11      11           11    11